<style>
    nav.header__inline-menu {
        margin: 20px;
    }

    .list-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Adjust the gap between columns */
        justify-content: space-between;
    }

    .list-menu__column {
        flex: 0 1 calc(25% - 20px); /* Adjust the width of each column */
    }

    .list-menu:nth-child(4) {
        /* Styles for the 4th list-menu (sizes) */
        background-color: #f0f0f0;
        padding: 20px;
    }

    .mega-menu {
        margin: 20px;
    }
  .megamenusection{
    width: 100%;
}

    .mega-menu__content {
    display: flex;
    flex-direction: column;
}

 .mega-menu__content2 {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 65%;
    margin-left: 17.5%;
}

    .mega-menu__list {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .mega-menu__list li {
        box-sizing: border-box;
        padding: 10px;
        width: 100%; /* Make each li take full width */
        text-align: center;
    }
  
  .notcolumn{
        display: flex;
        flex-direction: row;
  
    }

  .Vyfiltruj{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

  #HeaderMenu-novinky{
    margin-top: 20px;
}
  
</style>



<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {%- if link.handle == 'novinky' -%}
                    <span class="novinky">{{- link.title | escape -}}</span>
                  {%- else -%}
                    {{- link.title | escape -}}
                  {%- endif -%}
                </span>
                {% render 'icon-caret' %}
              </summary>
              
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                {%- if link.handle == 'velikosti' -%}
                    <a class="Vyfiltruj">Vyfiltruj si svou velikost</a>
                  {%- endif -%}
                <div class="mega-menu__content2">
                
                <section class="megamenusection">
                  {%- assign ul_classes = "mega-menu__list page-width" -%}
                  {%- if link.handle != 'velikosti' -%}
                    {%- assign ul_classes = ul_classes | append: ' notcolumn' -%}
                  {%- endif -%}
                  <ul class="{{ ul_classes }}" role="list">
                    {%- assign item_counter = 0 -%}
                    {%- for childlink in link.links -%}
                      <li>
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                        {%- if childlink.links != blank -%}
                          <ul class="list-unstyled" role="list">
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                  href="{{ grandchildlink.url }}"
                                  class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                  {% if grandchildlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      </li>
                      {%- assign item_counter = item_counter | plus: 1 -%}
                      {%- if item_counter == 4 and forloop.last == false -%}
                        </ul>
                        <!-- Close the existing section -->
                        </section>
                        <!-- Open a new section -->
                        <section class="megamenusection">
                        <ul class="{{ ul_classes }}" role="list">
                        {%- assign item_counter = 0 -%}
                      {%- endif -%}
                    {%- endfor -%}
                  </ul>
                </section>
                </div>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>








